<style>

/*********************************/
/* p태그 : Arial, 굵은글씨 적용 */
/*********************************/
p {
font-family: Arial;
font-weight: bold;
}
/*****************************/
/* seller : 빨강, 120% 적용 */
/*****************************/
.seller {
color: red;
font-size: 120%;
}
/***************************************/
/* productname : 150% 사이즈 적용 */
/***************************************/
.productname {
font-size: 150%;
}
/***************************************/
/* productdetail : 100% 사이즈 적용 */
/***************************************/
.productdetail {
font-size: 100%;
}
/**********************************/
/* img태그 : 폭100%, 높이 자동 */
/**********************************/
img {
max-width: 100%;
height: auto;
}
</style>
