<style>

/*********************************/
/* p : Arial, 굵은글씨 적용 */
/*********************************/
p {
    font-family: Arial;
    font-weight: bold;
}
/*****************************/
/* p.seller : 빨강, 120% 적용 */
/*****************************/
.seller {
    color: #cc0066;
    font-size: 120%;
    border: solid 1px #cc6699;
}
/***************************************/
/* p.productname : 150% 사이즈 적용 */
/***************************************/
.productname {
    font-size: 150%;
}
/***************************************/
/* p.productdetail : 100% 사이즈 적용 */
/***************************************/
.productdetail {
    font-size: 100%;
}
/**********************************/
/* img : 폭100%, 높이 자동 */
/**********************************/
img {
    max-width: 700px;
    height: auto;
}
</style>
